html {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  background: #060AB2;
  align-items: center;
  justify-content: center;
}
.Memory-game{
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card.active .flipper {
  transform: rotateY(180deg);
}
.card img {
 position: relative;
 top:30px;
}
.front, .back {
  width: 110px;
  height: 165px;
  overflow: hidden;
  padding: 20px;
  margin: 5px;
  position: relative;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  text-align: center;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  /* transform: rotateY(0deg); */
  background: #1C7CCC;
  position: relative;
}

.back {
  transform: rotateY(180deg);
  margin-top: 0;
  padding-bottom: 20px;
}
